.navSubmenu ul,
.navSubmenu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navSubmenu ul {
  display: none;
  padding-left: 15px;
}

.navSubmenu div .nav-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
}

.navSubmenu .nav-link .nav-icon {
  font-size: 15px !important;
}

